* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pitch {
  position: relative;
  margin: 0 auto;
  border: 3px solid white;
  background-image: url('http://www.psdgraphics.com/file/basketball-floor-texture.jpg');
  background-size: 30%;
  width: 99vw;
  min-width: 1300px;
  height: 99vh;
  min-height: 650px;

}
