.eastBar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-left: 3px solid white;
  width: 70px;
  height: 100%;
  min-height: 550px;

  p {
    position: absolute;
    right: -237px;
    bottom: 50%;
    transform: rotate(90deg) translateY(-50%);
    width: 600px;
    text-align: center;
    color: white;
    font-size: 50px;
  }

}
