.eastConference {
  position: absolute;
  // transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  border: 1px solid black;
  border-top-left-radius: 600px;
  border-bottom-left-radius: 600px;
  width: 350px;
  height: 80vh;
  min-height: 600px;
  overflow: hidden;
}
